html{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
.main-banner{
  display: flex;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 31rem;
}
.container{
  width: 960px;
  margin: 0 auto;
}
header{
  display:flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  flex-grow: 1;
}
.logo img{
  height: 1.5rem;
  padding-right: 1rem;
}
nav span{
  padding-right: 2rem;
}
.nav-item-menu{
  display: none;
}
.slogan{
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  line-height: 1.2;
  font-size: 2rem;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  width: auto;
  float: right;
}
.company-offers{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.company-offers span{
  display: block;
  text-align: center;
  margin-top: auto;
}
.offer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  margin: 0 3rem;
}
.exams img{
  width: 3.5rem;
}
.fittings img{
  width: 5rem;
}
.delivery img{
  width: 5rem;
}
.company-about{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.about{
  width: 35%;
  margin: 0 2.5%;
}
.about-title{
  text-transform: uppercase;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
  display: block;
  width: 10rem;
}
footer{
  display: flex;
  background-color: azure;
}
.copyright-logo{
  display: flex;
  align-items: center;
  padding: 4rem;
}
.copyright-logo img{
  height: 1.5rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 960px){
  .container{
    width: 100%;
  }
  header{
    margin-top: 0;
  }
  .main-banner{
    height: 22rem;
  }
  .slogan{
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
    width: auto;
    padding: 0.75rem 4rem;
  }
}
@media only screen and (max-width: 670px){
  .main-banner{
    height: 17rem;
    background-position: 20%;
  }
  .logo span{
    display: none;
  }
  .nav-item{
    display: none;
  }
  .nav-item-menu{
    display: inline-block;
  }
  .slogan{
    margin-top: 9rem;
    margin-right: 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  .company-offers{
    flex-direction: column;
    align-items: center;
    margin: 3.77rem auto;
  }
  .offer{
    margin: 0.77rem;
    font-size: 0.77rem;
    height: auto;
  }
  .offer img{
    margin-bottom: 1rem;
  }
  .company-about{
    flex-direction: column;
    align-items: center;
  }
  .about{
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
  }
  .about-title{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .about-details{
    font-size: 0.77rem;
  }
  footer{
    justify-content: center;
  }
  .copyright-logo span{
    display: none;
  }
  }
}
