html{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
header{
  display:flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  flex-grow: 1;
}
.logo img{
  height: 1.5rem;
  padding-right: 1rem;
}
nav span{
  padding-right: 2rem;
}
.container{
  width: 960px;
  margin: 0 auto;
}
